/* Amélioration du header */
.header .last_header {
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 150px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header .last_header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 150px;
    
}

.header .last_header .nav-head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .last_header .nav-head ul li {
    padding: 10px 20px;
}

/* Effet hover */
.header .last_header .nav-head ul li .link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}


.header .last_header.scrolled .nav-head ul li .link{
    color: #000;
}

.header .last_header .user_profile .info{
    color: #000;
}

.header .last_header .btn-connexion{
    display: flex;
    color: #000;
    padding: 5px 15px;
}

.header .last_header .btn-connexion .info .link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

.header .last_header .nav-head ul li .link:hover {
    color: #fed700;
}

/* Ajout d'un soulignement animé au hover */
.header .last_header .nav-head ul li .link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fed700;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.header .last_header .nav-head ul li .link:hover::after {
    width: 100%;
}

/* Onglet actif */
.header .last_header .nav-head ul li .link.active {
    color: #fed700;
    font-weight: bold;
}

/* Ajout d'un indicateur sous l'onglet actif */
.header .last_header .nav-head ul li .link.active::after {
    width: 100%;
}

/* Amélioration du menu burger */
.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .nav-head {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #232323;
        text-align: left;
        transition: all 0.3s ease-in-out;
    }

    .nav-head.active {
        display: block;
    }

    .nav-head ul {
        flex-direction: column;
        padding: 10px;
    }

    .nav-head ul li {
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav-head ul li .link {
        color: white;
        font-size: 18px;
    }
}
