body {
    background-color: #f9f9fa;
}

header {
    background-color: #007bff; /* Couleur d'arrière-plan de l'en-tête */
    color: white;
    padding: 20px 0;
}

.card-opacity {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 136, 229, 0.5); /* Couleur bleuâtre avec opacité */
    z-index: 1;
}

.card-img-overlay {
    position: relative;
    z-index: 2;
}

.btn-success {
    background-color: #28a745; /* Couleur verte pour le bouton */
    border: none;
}

.btn-success:hover {
    background-color: #218838; /* Couleur plus foncée au survol */
}

.card {
    margin-bottom: 20px; /* Espacement entre les cartes */
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem; /* Taille de police pour le texte */
}

footer {
    background-color: #007bff; /* Couleur d'arrière-plan du pied de page */
    color: white;
    padding: 10px 0;
}